/* intro section */

#intro {
  background-color: #f3efe0;
}

.brand {
  border: 4px solid black;
  padding: 1%;
  font-weight: bold;
  margin: 2% 4%;
}

@media (min-width: 540px) {
  .nav-link {
    position: relative;
    right: 20%;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .intro-heading h1 {
    font-size: 3rem;
  }
}

.nav-link {
  color: #8f8f8f;
  text-decoration: none;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  height: 2px;
  background-color: #282a3a;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.nav-link:hover::after {
  width: 100%;
  text-decoration: none;
  color: #282a3a;
}

.intro-heading {
  padding-bottom: 3%;
  padding-left: 2% !important;
  padding-right: 6% !important;
  padding-top: 6%;
  margin: 6% auto;
  font-family: "Martian mono", monospace;
}

.intro-heading h1 {
  margin-top: 5%;
}

.intro-heading p {
  color: #8f8f8f;
  padding-top: 10%;
  padding-bottom: 5%;
}

.my-img {
  padding-bottom: 5%;
}

.my-img img {
  border-radius: 15%;
  padding: 3% 2%;
}

@media (max-width: 540px) {
  .my-img {
    padding-bottom: 15%;
  }
}

/* services section */

#services {
  background-color: #282a3a;
  color: #f3efe0;
}

.s-heading {
  padding: 7% 10%;
  font-family: "Martian Mono", monospace;
}

@media (min-width: 540px) {
  .s-heading h1 {
    font-size: 4rem;
  }
  .s-heading h1,
  .s-heading p {
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
  }

  .s-heading p {
    padding-top: none;
  }

  .s-heading h1 {
    padding-bottom: 2%;
  }

  .inset-div {
    margin-top: 2%;
  }
}

@media (max-width: 540px) {
  .s-heading {
    padding-top: 20%;
  }

  .inset-div {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .services-div span {
    padding-top: 5%;
  }
}

.inset-div {
  padding: 1% 10%;
}
#services p {
  color: #8f8f8f;
}

#services .s-heading p {
  color: #f3efe0;
}

.top-hr {
  margin-top: 5%;
}

.services-div hr {
  color: #f3efe0;
  border: 0.5px solid #f3efe0;
  margin-top: 3%;
  margin-bottom: 2%;
}

.services-div h2 {
  padding-top: 5%;
}

.services-div p {
  font-size: 1.2rem;
  padding-bottom: 5%;
}

/* skills section */

#skills {
  background-color: #f3efe0;
}

.skills-heading {
  text-align: center;
}

.skills-heading p {
  color: #8f8f8f;
}

@media (min-width: 540px) {
  .skills-heading {
    padding: 10% 20%;
    font-family: "Martian Mono", monospace;
    margin-left: 5%;
    text-align: left;
  }

  .skills-heading h1 {
    font-size: 3rem;
  }

  /* .skills-heading h1 {
    font-size: rem;
  } */
}

.tech-stack {
  padding: 18% 8% 1%;
  text-align: center;
}

.tech-stack1 {
  padding: 8% 8% 1%;
  text-align: center;
}

.third-stack {
  margin-bottom: 12%;
}

@media (max-width: 540px) {
  .skills-heading {
    padding-top: 10%;
    padding-left: 8%;
    padding-right: 9%;
  }

  .skills-div .container-fluid {
    padding-left: 2%;
  }
}

.c p {
  font-size: 1.2rem;
  margin: auto auto;
}

.tech-col {
  margin-left: 10%;
}

.col-3 p {
  text-align: center;
  font-weight: bold;
}

/* contact section */

#contact {
  background-color: #282a3a;
  color: #f3efe0;
  text-align: left;
}

.contact-heading {
  margin: 10% 5% 8%;
  font-family: "Martian Mono", monospace;
}

.contact-heading h1 {
  padding-top: 12%;
}

#contact hr {
  color: #f3efe0;
  border: 1px solid #f3efe0;
  margin: 10% auto 5%;
}

@media (max-width: 540px) {
  #contact {
    text-align: center;
  }

  .contact-heading {
    margin: auto;
  }

  .contact-heading .row {
    margin: 10% 5%;
  }

  #contact h1 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 40px;
  }

  .contact-heading p {
    font-size: 0.6rem;
    margin-bottom: 1rem;
  }

  .contact-heading i {
    padding-top: 10px;
  }
}

.mail {
  text-decoration: none;
  padding: 5% 5%;
}

footer {
  font-family: "Martian Mono", monospace;
}
